

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">

  <div class="ccsubheaderLinkBack" style="text-align: center">
      <a href="/plans/list">Back</a>
  </div>

  <div class="container plan-container">
    <div class="row">

      <div>
        <div class="plan-head-1 col-sm-6"> <%= plan.title %>
          <span id="creator">, by <%= plan.creator %> </span> </div>

        <div class="plan-head-2 col-sm-6"> <%= plan.category %> </div>

      </div>

      <br>
      <br>

      <div class="plan-description">
        <%= plan.description %>
      </div>


      <div>
        <div class="plan-bottom-1 col-sm-6"> <strong class="large-strong"><%= plan.date %></strong> </div>

        <div class="plan-bottom-2 col-sm-6"> I´m in! </div>
      </div>

      <div class="plan-Pic">
        <img class="plan-image" src="<%= plan.picPath %>">
      </div>

    </div>

  </div>

  <div id="map"></div>

  <div class="wrapper">
      <form method="post" action="/plans/<%= plan._id %>" class="ccform">

      <div class="ccfield-prepend">
          <input class="ccformfield" type="text" name="text" placeholder="Write your comments" required>
      </div>

      <div class="ccfield-prepend">
          <input class="ccbtn" type="submit" value="Submit">
      </div>
      </form>

    </div>
    <br><br>


      <% comments.forEach((comment) => { %>

        <form method="post" action="/plans/<%= plan._id %>" class="ccform">

          <div class="ccfield-prepend">

            <div class="ccformfield">
              <%= comment.text %>
            </div>

            <div class="comment Author">
              by <%= comment.creator %>
            </div>

        </form>

        <%  }) %>














  <!-- <script type="text/javascript"> var plan = <%- plan %> </script> -->
  <script type="text/javascript">
    var plan = <%- JSON.stringify(plan) %>

  </script>


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrtmNUIUV5jizOKyGvM3a6tlpRPvAac-Y&libraries=places"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/javascripts/show.js"></script>
